[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/hugo-cite"]
	path = themes/hugo-cite
	url = https://github.com/loup-brun/hugo-cite.git
