// Color Variables from Logo
$water_green: #79a38d;
$land_green: #91a96d;
$clear_blue: #537ec0;
$storm_blue: #566777;
$sandstone: #FFCC79;
$deep_rock: #653C2C;
$light_rock: #653C2C;
$color_list: ($water_green, $land_green, $clear_blue, $storm_blue, $sandstone, $deep_rock, $light_rock);
$color_count: 1;

.main {
  background: url("/BackgroundIMGs/Blog.png") repeat-y left top;
  background-size: 100% auto;
}

.organisation {
  background: red;
}

// Place title of page on the left

.single-title {
  text-align: left !important;
  font-size: 2em !important;
}

// Do not add a hash before the h2 header-mark!

.content {
  > h2 > .header-mark::before {
    content: "" !important;
  }
}

// Increase size of the logo on a desktop view

#header-desktop {
  height: auto !important;
  background-color: transparent;
  .header-title {
    a {
      display: block;
      width: auto !important;
    }
    .logo {
      height: fit-content;
      max-height: 5em;
      max-width: 60%;
      padding: 0.2em;
      padding-top: 0.5em;
    }
  }
}

// Strech content on the articles (all) to fit the screen

.page {
  max-width: 1300px;
  width: 80%;
}

@media only screen and (max-width: 1440px) {
  .page {
    width: 92%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 82%;
  }

  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 85%;
  }

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page {
    width: 100%;

    [data-header-mobile] & {
      padding-top: var(--header-height);
    }

    [data-header-mobile="normal"] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}

// class to centre images
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
// class for references
.reference {
  padding-left: 0.8cm;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 80%;
}

a.menu-item {
  padding: 0.5em;
  border-radius: 5px;

  .delimiter {
    padding: 0;
  }
}
