// Color Variables from Logo
$water_green: rgb(121, 163, 141);
$land_green: rgb(145, 169, 109);
$clear_blue: rgb(83, 126, 192);
$storm_blue: rgb(86, 103, 119);
$sandstone: rgb(255, 204, 121);
$deep_rock: rgb(101, 60, 44);
$light_rock: rgb(101, 60, 44);
$color_list: (
  $water_green,
  $land_green,
  $clear_blue,
  $storm_blue,
  $sandstone,
  $deep_rock,
  $light_rock
);
$color_count: 1;

.main {
  background: url("/BackgroundIMGs/Blog.png") repeat-y left top;
  background-size: 100% auto;
}

[theme="dark"] .single .content {
  a {
    color: $clear_blue;
  }
}

.single .content {
  a {
    color: $clear_blue;
  }
}

.organisation {
  background: red;
}

// Place title of page on the left

.single-title {
  text-align: left !important;
  font-size: 2em !important;
}

// Do not add a hash before the h2 header-mark!

.content {
  > h2 > .header-mark::before {
    content: "" !important;
  }
}

div {
  #home_list_bg {
    background-color: rgba(86, 103, 119, 0.4); // Storm blue with alpha value
    margin: 3% 0%;
  }
  #home_list {
    padding: 3%;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    background-color: rgba(255,255,255,0.3);
    gap: 10%;
    img {
      width: 40%;
    }
  }
}

.container {
  
  padding: 10% 0%;
}


// Increase size of the logo on a desktop view

#header-desktop {
  height: auto !important;
  background-color: transparent;
  .header-title {
    a {
      display: block;
      width: auto !important;
    }
    .logo {
      height: fit-content;
      max-height: 5em;
      max-width: 60%;
      padding: 0.2em;
      padding-top: 0.5em;
    }
  }
}

// Strech content on the articles (all) to fit the screen

.page {
  max-width: 1300px;
  width: 80%;
}

@media only screen and (max-width: 1440px) {
  .page {
    width: 92%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 82%;
  }

  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 85%;
  }

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page {
    width: 100%;

    [data-header-mobile] & {
      padding-top: var(--header-height);
    }

    [data-header-mobile="normal"] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}

// class to centre images
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
// class for references
.reference {
  padding-left: 0.8cm;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 80%;
}

a.menu-item {
  padding: 0.5em;
  border-radius: 5px;

  .delimiter {
    padding: 0;
  }
}
