// Color Variables from Logo
$water_green: rgb(121, 163, 141);
$land_green: rgb(145, 169, 109);
$clear_blue: rgb(83, 126, 192);
$storm_blue: rgb(86, 103, 119);
$sandstone: rgb(255, 204, 121);
$deep_rock: rgb(87, 52, 38);
$light_rock: rgb(101, 60, 44);
$dark: rgb(41, 42, 45);
$color_list: (
  $water_green,
  $land_green,
  $clear_blue,
  $storm_blue,
  $sandstone,
  $deep_rock,
  $light_rock
);
$color_count: 1;

.main {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("/BackgroundIMGs/Contact.png") repeat-y left top;
  background-size: 100% auto;
}

[theme="light"] .main {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("/BackgroundIMGs/Contact.png") repeat-y left top;
}
[theme="dark"] .main {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(41,42,45,255)), url("/BackgroundIMGs/Contact.png") repeat-y left top;
}


[theme="dark"] a {
  color: $clear_blue;
}

[theme="dark"] a.banner-button {
  color: black;
}

[theme="dark"] a.banner-button:hover {
  color: $clear_blue;
}

[theme="dark"] #banner-title {
  color: white;
}

a {
  color: $clear_blue;
}

a.archive-item-link {
  color: $dark;
}

tbody {
  vertical-align: top;
  text-align: left;
}

.organisation {
  background: red;
}

// Place title of page on the left

.single-title {
  text-align: left !important;
  font-size: 2em !important;
}

// Do not add a hash before the h2 header-mark!

.content {
  > h2 > .header-mark::before {
    content: "" !important;
  }
}

div {
  #home_list_bg {
    background-color: rgba(86, 103, 119, 0.4); // Storm blue with alpha value
    margin: 3% 0%;
  }
  #home_list {
    padding: 3%;
  }
  .flex_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0% 0% 5%;
    background-color: rgba(255, 255, 255, 0.5);
    gap: 10%;
    .flex_item {
      max-width: 40%;
      min-width: 300px;
      flex-basis: 40%;
      flex-grow: 1;
    }
  }
}

[theme="dark"] .flex_container {
  background-color: #292a2d;
}

.flex_container {
  padding: 10% 0%;
}

.archive-item-description,
.archive-item-title {
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

// Increase size of the logo on a desktop view

#header-desktop {
  height: auto !important;
  position: sticky;
  background-color: transparent;
  .header-title {
    a {
      display: block;
      width: auto !important;
    }
    .logo {
      height: fit-content;
      max-height: 5em;
      max-width: 60%;
      padding: 0.2em;
      padding-top: 0.5em;
    }
  }
}

// Strech content on the articles (all) to fit the screen

.page {
  max-width: 1300px;
  width: 80%;
}

#header-desktop .header-wrapper {
  padding: 0 2rem 1rem 10vh;
}

.header-wrapper {
  padding-bottom: 3rem;
  background-color: rgba(133, 157, 94, 0.2);
}
[theme="light"] .header-wrapper {
  background-color: rgba(133, 157, 94, 0.2);
}
[theme="dark"] .header-wrapper {
  background-color: rgba(98, 136, 97, 0.2);
  padding-bottom: 0;
}

@media only screen and (max-width: 2700px) {
  #header-desktop .header-wrapper {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 1440px) {
  .page {
    width: 92%;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    width: 82%;
  }
  #header-desktop .header-wrapper {
    padding-right: 1rem;
  }

  .search-dropdown.desktop {
    right: 1rem;
  }

  .slideshow_div {
    display: none;
  }
  div {
    .flex_container {
      flex-flow: row wrap;
      .flex_item {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  #toc-auto {
    display: none;
  }

  #toc-static {
    display: block;
  }

  .page {
    width: 85%;
  }

  #header-desktop .header-wrapper {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

  body.blur {
    overflow: hidden;
  }

  .page {
    width: 100%;

    [data-header-mobile] & {
      padding-top: var(--header-height);
    }

    [data-header-mobile="normal"] & {
      padding-top: 0;
    }

    .categories-card {
      .card-item {
        width: 100%;
      }
    }
  }

  .copyright {
    .copyright-line {
      .icp-splitter {
        display: none;
      }
      .icp-br {
        display: block;
      }
    }
  }
}

// class to centre images
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
// class for references
.reference {
  padding-left: 0.8cm;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 80%;
}

a.menu-item {
  padding: 0.5em;
  border-radius: 5px;
  margin: none;

  .delimiter {
    padding: 0;
  }
}

a.menu-item.theme-switch {
  padding: 0 0.5rem;
  height: 100%;
}

.menu {
  padding-right: 2%;
}

#header-desktop .header-wrapper .menu {
  overflow: visible;
}

.banner-button {
  padding: 5px 10px;
  margin: auto 10px;
  border-radius: 5px;
  max-height: 36px;
  color: black;
  font-weight: bold;
  background-color: white;
  border: 2px solid $deep_rock;

  line-height: normal;
  vertical-align: middle;
  justify-self: right;
}

#atap {
  background-color: $light_rock;
  border: 2px solid $deep_rock;
}

#portal {
  background-color: $clear_blue;
  border: 2px solid $storm_blue;
}

#top-banner {
  display: flex;
  align-items: center;
  min-height: 30px;
  max-height: 50px;
  background-color: rgba(98, 136, 97, 0.5);
  padding-left: 6.7%;
  padding-right: 4%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#banner-title {
  max-height: 100%;
  font-weight: bolder;
  font-size: 18px;
}

#banner-spacer {
  flex-grow: 2;
}

// Slideshow Styling
// Number of slides
$slide-count: 5;

// Tab colours (must be same as number of slides)
$c-slides: $water_green, $land_green, $clear_blue, $storm_blue, $sandstone;

// Slide backgrounds (if used, must be same as number of slides, otherwise false)
$b-slides: url("/SlideshowIMGs/batchelor-shelf.jpg")
  url("/SlideshowIMGs/about.jpg") url("/SlideshowIMGs/data-migration.jpg")
  url("/SlideshowIMGs/trove.png") url("/SlideshowIMGs/ldaca-meeting.png");
//$b-slides: $water_green, $land_green, $clear_blue, $storm_blue, $sandstone;

// Total duration of slide animation
$animation-duration: 1s;

// Dimensions of the slides
$slide-width: 50%;
$slide-height: 100%;

// Slide content overflow (auto or hidden)
$slide-overflow: auto;

// Slide content colours
$c-black: #000;
$c-grey: #aaa;
$c-light-grey: #ddd;

// Other colours
$c-background: #101010;
$c-text: $c-light-grey;
$c-label-text: $c-grey;

.contact_input {
  border-radius: 50px;
  max-width: 400px;
  max-height: 50px;
}

.center_heading {
  justify-content: center;
  text-align: center;
  padding: 3% 0%;
}

/****************************************/

.slideshow_div {
  padding: 3% 0 50%;
}

.slideshow {
  width: 100%;
  height: 30%;
  border: 0px;
  padding: 0px;
  margin: 0 auto;
  background-color: rgb(52, 54, 59);
  overflow: hidden;
  // counter-reset: slide;
  position: absolute;
}

.single .content a:hover {
  color: #2d96bd;
}

input {
  .radio_input {
    position: absolute;
    opacity: 0;
    top: -25px;
    counter-increment: slide;
  }

  &:checked + .slide {
    transform: translateX(0px);
    transition: transform #{$animation-duration / 2} ease-in-out;

    .slide__content {
      width: 100%;
      display: block;

      &:before {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
        // content: counter(slide) " of #{$slide-count}";
        padding: 5px 10px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        text-align: right;
      }
    }
  }

  @for $i from 1 through $slide-count {
    &:checked:nth-of-type(#{$i}) ~ nav label:nth-child(#{$i}) {
      color: white;
    }
  }
}

@mixin slide-popout {
  position: absolute;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slide {
  transform: translateX(#{-$slide-width * 2});
  position: absolute;
  width: $slide-width;
  height: $slide-height;
  max-width: 50%;
  background-size: $slide-width $slide-height;
  transition: transform #{$animation-duration / 2} ease-in-out;

  &__content {
    box-sizing: border-box;
    height: 100%;
    overflow: $slide-overflow;
    padding: 30px;
    color: $c-text;
    position: absolute;
    left: 100%;
    display: none;
    animation-name: fade-in;
    animation-duration: $animation-duration;
    animation-iteration-count: 1;
    opacity: 1;
  }

  @if $b-slides {
    $i: 2;
    @each $slide in $b-slides {
      &__html {
        display: none;
      }

      &:nth-child(#{$i}) {
        background: $slide;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:after {
          @include slide-popout;
        }
      }
      $i: $i + 2;
    }
  } @else {
    &__html {
      @include slide-popout;
    }
  }
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 60px;
  overflow: auto;
  background-size: 100%;
  height: 60px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $c-background 10%);
}

label {
  box-sizing: border-box;
  color: $c-label-text;
  font-weight: bold;
  display: block;
  width: calc((100% / #{$slide-count}) - 2%);
  margin: 5px 1% 5px 1%;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 4px $c-grey;
  text-align: center;
  float: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    color: #fff;
    border-bottom: solid 4px #fff;
  }

  $i: 1;
  @each $slide in $c-slides {
    &:nth-child(#{($i)}) {
      left: calc(50% + (#{$i - 1} * (50% / #{$slide-count})));
      border-bottom-color: $slide;
    }
    $i: $i + 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// Testing for dropdown menu

:focus > .menu__btn-title {
  box-shadow: inset 0 0 1px 3px #e22d30;
}

button:not(:-moz-focusring):focus > .menu__btn-title {
  box-shadow: none;
}

.menu__item,
.menu__list {
  height: 100%;
}

.submenu__list {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: visible;
  padding: 0;

  .menu__item {
    padding: 0;
  }
}

.menu__list,
.submenu__list {
  list-style: none;
}

.menu__item:first-child {
  border: 0;
}

.menu__list .menu__item .submenu__list {
  visibility: hidden;
  opacity: 0;
  display: none;
  position: absolute;
  z-index: 100;
  transition: all 0.5s ease;
  overflow: visible;
}

.menu__list .menu__item:hover > .submenu__list,
.menu__list .menu__item:focus-within > .submenu__list,
.menu__list .menu__item .submenu__list:hover,
.menu__list .menu__item .submenu__list:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  overflow: visible;
}

.menu__link:hover {
  color: #fff;
}

.js .menu__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

.js .menu__list--active {
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.menu__list--transition {
  transition: visibility 0.15s ease, transform 0.15s ease,
    -webkit-transform 0.15s ease;
}

@media screen and (min-width: 767px) {
  .menu__btn {
    display: none;
  }
  .menu__list,
  .js .menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    visibility: visible;
    border: 0;
    -webkit-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    display: none;
    right: 1rem;
    top: auto;
    width: 50%;
    text-align: right;
  }
  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }
  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .menu__item.menu__dropdown .drop-icon {
    position: absolute;
    right: 1rem;
    top: auto;
  }
  .menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
    display: none;
  }
  .menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
    border: none;
    padding-left: 20px;
    visibility: visible;
    opacity: 1;
    display: block;
    position: relative;
    max-width: 100%;
  }
}

// Footer Styling

.footer-line {
  align-content: center;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  font-size: smaller;
  [theme="light"] a {
    color: $dark;
  }
  [theme="dark"] a {
    color: #a9a9b3;
  }
  a {
    color: $dark;
  }
  a:hover {
    color: #2d96bd;
  }
}

[theme="dark"] .footer-line a {
  color: #a9a9b3;
}

[theme="dark"] .footer-line a:hover {
  color: #2d96bd;
}

.footer {
  background-color: rgba(133, 157, 94, 0.2);
  position: relative;
  margin: 1% 0 0 0;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 1vw;
  font-size: smaller;
  [theme="dark"] a {
    color: #a9a9b3;
  }
  [theme="light"] a {
    color: black;
  }
}

[theme="light"] .footer {
  background-color: rgba(133, 157, 94, 0.2);
}
[theme="dark"] .footer {
  background-image: none;
  background-color: rgba(98, 136, 97, 0.2);
}

[theme="dark"] .footer .content a:hover {
  border-bottom: 1px solid #a9a9b3;
}

.footer .heading {
  color: black;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 0rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.footer .content p {
  margin: 0.5rem 0;
}

[theme="dark"] .footer .content a {
  text-decoration: none;
  color: #a9a9b3;
}

.footer .content a {
  text-decoration: none;
  color: $dark;
}

[theme="light"] .footer .content a {
  text-decoration: none;
  color: $dark;
}

.footer .content a:hover {
  border-bottom: 1px solid black;
}

.footer .content h4 {
  margin: 1.2rem 0 0.7rem 0;
  font-size: 16px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

// 404 Page
#content-404 {
  position: absolute;
  bottom: 60%;
}

// Designer image grid
.grid {
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px;
  aspect-ratio: 16 / 9;
}

.grid .left {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}

.grid .upper_right {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
}

.grid .lower_right {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.grid .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Class for PT Posts
.or_section {
  border:1px solid black;     
  margin-bottom: 100px; 
  padding: 50px;
  background-color: rgba($color: white, $alpha: 0.8);
}