<table>
    {{ range .Site.Data.glossary }}
    <tr>
        {{ if .external_link }}
      <td><a name="{{ .Name }}"></a><b>{{ .title }}</b></td></td>
      <td>{{ .content | markdownify }}<br><a href="{{ .external_link }}" target="_blank">More information</a></td>
      {{ if .cross_ref }}
      <br><a href="#{{ index .cross_ref 0 }}">{{ index .cross_ref 1 }}</a>
      {{ end }}
    </tr>
    {{ else }}
    <td><a name="{{ .Name }}"></a><b>{{ .title }}</b></td></td>
    <td>{{ .content | markdownify }}
        {{ if .cross_ref }}
        {{ $text := index .cross_ref 1 }}
      <br>See also <a href="#{{ index .cross_ref 0 }}">{{ $text }}</a>
          {{ end }}
    </td>
    {{ end }}
    {{ end }}
  </table>
