<!-- Use shortcode with parameters: image Src="" Alt="" Desc=""(Caption - include Figure X: here if needed) Title="" Height="" ExtLink=""(External source reference) 
    Ref=""(Internal source reference) -->

<body>
    <div>
        <img src="{{.Get `Src`}}" alt="{{.Get `Alt`}}" title="{{.Get `Title`}}" height="{{.Get `Height`}}" class="center_image" />
        <div style="text-align: center">
      <b>
                {{ .Get "Desc" }}</b>
        <br>Image Source: {{ if .Get "ExtLink" }}
        <a href="{{ .Get "ExtLink" }}" target="_blank">(Source)</a>
        {{ else }} {{ .Get "Ref" }} {{ end }}
          </div>
    </div>
</body>